@model NavigationViewModel

@if (Model.TempNode != null && Model.HasVisibleChildren(Model.TempNode))
{
  <div class="navbar-dropdown">
    @foreach (var childNode in Model.TempNode.Children)
    {
      if (!Model.ShouldAllowView(childNode)) { continue; }

      if (!Model.HasVisibleChildren(childNode))
      {
        <a class="navbar-item" href="@Url.Content(Model.AdjustUrl(childNode))">
          @Html.Raw(Model.GetIcon(childNode.Value))@Model.AdjustText(childNode)
        </a>
      }
      else
      {
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="@Url.Content(Model.AdjustUrl(childNode))">
            @Html.Raw(Model.GetIcon(childNode.Value))@Model.AdjustText(childNode)
          </a>
          @Model.UpdateTempNode(childNode) <partial name="NavigationNodeChildDropdownPartial" model="@Model" />
        </div>
      }
    }
  </div>
}