@model NavigationViewModel

<nav class="breadcrumb">
  <ul>
    @foreach (var node in Model.ParentChain)
    {
      if (!await Model.ShouldAllowView(node))
      {
        continue;
      }

      if (node.EqualsNode(Model.CurrentNode))
      {
        if (Model.TailCrumbs != null)
        {
          <li>
            <a href="@Url.Content(Model.AdjustUrl(node))">@Model.AdjustText(node)</a>
          </li>
        }
        else
        {
          <li class="is-active">@Model.AdjustText(node)</li>
        }
      }
      else
      {
        <li>
          <a href="@Url.Content(Model.AdjustUrl(node))">@Model.AdjustText(node)</a>
        </li>
      }
    }
    @if (Model.TailCrumbs != null)
    {
      foreach (var n in Model.TailCrumbs)
      {
        <li class="is-active">@n.Text</li>
      }
    }
  </ul>
</nav>