@model NavigationViewModel

<div id="navbar-basic" class="navbar-menu">
  
  <a class="navbar-item" href="@Url.Content(Model.AdjustUrl(Model.RootNode))">
    @Html.Raw(Model.GetIcon(Model.RootNode.Value))@Model.AdjustText(Model.RootNode)
  </a>
  
  @if (Model.HasVisibleChildren(Model.RootNode))
  {
    @foreach (var node in Model.RootNode.Children)
     {
       if (!Model.ShouldAllowView(node))
       {
         continue;
       }
       if (!Model.HasVisibleChildren(node))
       {
         <a class="nav-link" href="@Url.Content(Model.AdjustUrl(node))">
           @Html.Raw(Model.GetIcon(node.Value))@Model.AdjustText(node)
         </a>
       }
       else
       {
         <div class="navbar-item has-dropdown is-hoverable">
           <a class="navbar-link" href="@Url.Content(Model.AdjustUrl(node))">
             @Html.Raw(Model.GetIcon(node.Value))@Model.AdjustText(node)
           </a>
           @Model.UpdateTempNode(node) <partial name="NavigationNodeChildDropdownPartial" model="@Model"/>
           
         </div>
        }
     }
  }
  </div>