@model IEnumerable<OrderItem>
<table class="table">
  <tr>
    <th scope="col">Order Id</th>
    <th scope="col">Item Id</th>
    <th scope="col">Quantity</th>
    <th scope="col"></th>
  </tr>

  @foreach (var item in Model)
  {
    <tr>
      <td>
        @item.OrderId
      </td>
      <td>
        @item.ItemId
      </td>
      <td>
        @item.Quantity
      </td>
      <td>
        <a asp-controller="OrderItems" asp-action="Show" asp-route-orderId="@item.OrderId" asp-route-itemId="@item.ItemId">Show</a>
      </td>
    </tr>
  }

</table>